.wrapper {
    padding: 20px;
}
p {
    font-weight: 300;
}
pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
    border: 1px solid #7d7171;
    border-radius: 5px;
    padding: 10px 0;
    background: #272822;
    margin: 50px 0;
}
hr {
    border-top: 1px solid #f8f9fa;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }