.wrapper {
    padding: 20px;
}
p {
    font-weight: 300;
}
pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
    border: 1px solid #7d7171;
    border-radius: 5px;
    padding: 10px 0;
    background: #272822;
    margin: 50px 0;
}
hr {
    border-top: 1px solid #f8f9fa;
}
.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }